#board{
    position:absolute;
    top:55%;
    left:52%;
    transform: translate(-55%,-52%);
}

#game_label {
    text-align: center;
}

#title {
    text-align: center;
}
#info {
    text-align: center;
}