<style>
    .container {
        margin-top: 25px;
    }

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
   Snek
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {{! <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> }}
    </ul>
  </div>
</nav>
<div class="container">
  <p>
    Thanks for playing Snek, below is some people who were able to make this game possible.
  </p>
  <div class="mx-auto" style="width: 300px;">
    <ul>
      <li>Jamal Ashby</li>
      <li>Chyla Walker</li>
      <li>Claudio Saillant</li>
      <li>Soojie Chin</li>
    </ul>

  </div>

</div>